.main {
  margin: 0 auto;
  padding: 4rem 0;
  width: 90%;
  max-width: 60rem;
}
.add-file {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
  border: 2px solid #333;
}
input[type="text"],
input[type="email"],
select,
textarea {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}
#second{
  display: flex;
  flex-direction: column;
  padding: 100px;
  justify-content: space-around; 
  gap: 5px;
}
#appointments{
  margin-left: 0;
  background-color: var(--primary-color);
}
#cancel{
  background-color: green;
}